{% assign has_link = false %}
{% if block.settings.block_link != blank %}
  {% assign has_link = true %}
{% endif %}
{%- capture classes -%}
  promo-block
  promo-block--{{ block.id }}
  {% if maintain_aspect_ratio %}promo-mosaic--maintain-aspect-ratio{% endif %}
  {{ additional_classes | strip_newlines }}
{%- endcapture -%}
<article
  class="{{ classes | replace: '  ', ' ' | strip_newlines }}"
  {{ block.shopify_attributes }}>
  <a
    class="
      promo-block--content
      promo-block--content-align-{{ text_alignment }}
      {% unless maintain_aspect_ratio %}promo-grid--maintain-aspect-ratio{% endunless %}
      {% unless compress_blocks %}promo-block--expanded{% endunless %}
      {% unless has_link %}promo-block--unlinked{% endunless %}
    "
    {% if has_link %}href="{{ block.settings.block_link }}"{% endif %}
    data-promo-block-content>
    <div class="promo-block--content-wrapper">
      {% if block.settings.title %}
        <h2 class="promo-block--header">
          {{ block.settings.title | escape }}
        </h2>
      {% endif %}
      {% if block.settings.text %}
        <p class="promo-block--text">
          {{ block.settings.text | escape | truncate: 120 }}
        </p>
      {% endif %}
      {% if block.settings.button_text != blank and block.settings.block_link != blank %}
        <span
          class="button-{{ block.settings.button_style }} promo-block--button">
          {{ block.settings.button_text | escape }}
        </span>
      {% endif %}
      <span class="promo-block--expander">
        {% include 'icon-chevron-down' %}
      </span>
    </div>
  </a>
</article>